@charset "utf-8";

body {
    background-color: rgb(231, 231, 241);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(6, 6, 248);
}
h1#principal {
    text-align: center;
    background-color: rgb(12, 197, 203);
    color: rgba(53, 15, 240, 0.733);
}
h2 {
    color: rgb(83, 34, 207);
}

.basico {
    color: green;
    }

.intermediario{
    color: red;
}

.avancado{
    color: yellow;
}

.destaque {
    background-color: aqua;
}